.page-header
{
    margin-top: 0;   
}

.panel-body
{
    padding-top: 40px;   
}

.featuredImg
{
    margin-bottom: 15px;
    
}

body 
{
    padding:0;
    margin:0;
    background:#FFFFFF;
}
canvas 
{
    display:block;
    margin:30px auto 0;
    margin-top: 100px;
    border:1px dashed #ccc;
    background:#000;
}

#sieve
{
    margin-top: 100px;
    margin-bottom: 90px;
    
}